@import "basic.css";

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(5deg);
}

body {
    color: oklch(97.51% 0.0127 244.25);
    background-color: oklch(32.11% 0 0);
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

a:link {
    color: oklch(97.51% 0.0127 244.25);
}

a:visited {
    color: oklch(97.51% 0.0127 244.25);
}

a:visited:hover {
    color: oklch(45.7% 0.2105 327.42);
}

a:visited:active {
    color: oklch(67.8% 0.3128 327.42);
}

a:hover {
    color: oklch(76.85% 0.1707 229.67);
}

a:active {
    color: oklch(54.45% 0.2382 270.8);
}

div.body {
    text-align: left;
    display: block;
}

@media not print {
    div.body {
        margin-left: 11vw;
        margin-right: 11vw;
        line-height: 1.2em;
    }
}

.banner {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 4px;
}

