@import "./basic.css";


@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(5deg);
}

.carousel-indicator {
    fill: var(--color-primary);
    stroke-width: 50.0;
    stroke: var(--color-accent);
    height: inherit;
    width: inherit;
}

.logo-mask {
    fill: #ffffff;
    stroke-width: .26458;
}

.logo-stripe1 {
    fill: #f00;
    stroke-width: 1.0122;
    stroke: #f00
}

.logo-stripe2 {
    fill: #f60;
    stroke-width: 1.0122;
    stroke: #f60
}

.logo-stripe3 {
    fill: #fc0;
    stroke-width: 1.0122;
    stroke: #fc0
}

.logo-stripe4 {
    fill: #0f0;
    stroke-width: 1.0122;
    stroke: #0f0
}

.logo-stripe5 {
    fill: #00f;
    stroke-width: 1.0122;
    stroke: #00f
}

.logo-stripe6 {
    fill: #800080;
    stroke-width: 1.0122;
    stroke: #800080
}

circle.outercircle {
    fill: none;
    stroke-width: 3;
    stroke: #000
}

circle#circlefill {
    fill: none;
    stroke-width: 8;
    stroke: #fff
}

circle#recordlabel {
    fill: #f0f;
}

circle#spindlehole {
    fill: #fff;
}

path#wzl {
    stroke-width: .26458;
    stroke: #000
}

path#wzl-fill {
    stroke-width: 5.1;
    fill: #fff;
}

.vinyl-lines {
    stroke: oklch(0.21 0.034 264.665);
    fill: none;
    stroke-dasharray: 0.5, 0.5;
    stroke-opacity: .82553;
    stroke-width: .24;
}
